<mat-card class="product-card">
  <mat-card-header class="align-center">
    <mat-card-title>{{product.pName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{product.pDesc}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row wrap">
      <div fxFlex="0 0 50%">
        <span class="mat-h2">{{product.pPrice | currency:'INR':'symbol-narrow':'1.2-2'}}</span>
      </div>
      <div fxFlex="0 0 50%" class="align-right">
        <button [disabled]="product.isInCart" (click)="addToCart()" mat-raised-button color="primary">Add to Cart</button>
        <!-- <app-counter (countChanged)="counterChanged($event)"></app-counter> -->
      </div>
    </div>
  </mat-card-actions>
</mat-card>
