.qty{
  width: 30px;
  text-align: center;
}

.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qty input[type=number] {
  -moz-appearance: textfield;
}
